*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height: 2rem;
    width:100%;
    background-color: blue;
    text-align: center;
    font-size: 30px;
}
nav{
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: space-between;
    flex-direction: row;
}
nav img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
nav ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size:  20px;
    color: aliceblue;
}
